:root {
    font-family: 'Open Sans';
    scroll-behavior: smooth;

    --text-primary: #b6b6b6;
    --text-secondary: #676787;
    --bg-primary: #23232e;
    --bg-secondary: #141418;

    --divider1-color: #676787;

    --header-bg: #001220;
    --header-text: #b6b6b6;

    --sect1-text-primary: var(--header-text);
    --sect1-bg-primary: var(--header-bg);
    --sect2-text-primary: #23232e;
    --sect2-bg-primary: #676787;
    --sect3-bg-primary: #8B6A98;
    --sect4-bg-primary: #C62368;

    --footer-bg: var(--header-bg);
    --footer-text: var(--header-text);

    --navbar-thickness: 5rem;
    --transition-speed: 200ms;
}

@media screen and (max-width: 1079px) {
    :root {
        font-size: .8rem;
    }
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    display: none;
}

body {
    color: black;
    background-color: white;
}

.main-header,
main,
.main-footer {
    margin-left: var(--navbar-thickness);
    margin-top: 0;
}

.navbar {
    width: var(--navbar-thickness);
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    transition: width var(--transition-speed) ease;
    z-index: 1;
}

.navbar:hover {
    width: 16rem;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: var(--navbar-thickness);
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;

    color: var(--text-primary);
    filter: grayscale(100%) opacity(.7);
    transition: filter var(--transition-speed);

    transition: width var(--transition-speed) ease-in-out;
}

.nav-link:hover svg {
    width: 3rem;
    height: 3rem;

    filter: grayscale(0) opacity(1);
    color: var(--text-secondary);
}

.link-text {
    display: none;
}

.navbar:hover .link-text {
    display: block;
}

/* dividers general */

.svg-divider {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

/* header */


.main-header {
    height: 100vh;
    background-color: var(--header-bg);
    color: var(--header-text);
    overflow: hidden;
    margin: 0 0 0 var(--navbar-thickness);
    padding: 0;
    background-image: url(./svgs/header-divider.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.header-content {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animated-text {
    color: var(--header-text);
    font-size: 4rem;
    letter-spacing: .8rem;

    text-align: left;
    width: 60%;
    font-family: 'JetBrains Mono', monospace;
}

.cursor-text-smaller {
    font-size: 2.5rem;
}

#animated-function {
    font-size:2.5rem;
}

.animated-text p,
.small-device-header-text p {
    display: inline-block;
    padding: 0;
    margin: 0;
}

#animated-header-text {
    display: inline;
}

#text-cursor {
    display: inline-block;
    transform: translateX(-3rem);
}

.small-device-header-text {
    display: none;
}

@media screen and (max-width: 1079px) {
    .animated-text {
        width: 70%;
    }
    
    .small-device-header-text {
        display: inline;
        font-size: 3rem;
        letter-spacing: .2rem;
    }

    .small-device-header-text p:last-child {
        font-size: 1.5rem;
    }

    #text-cursor {
        font-size: 1.5rem;
        transform: translateX(-2rem);
    }   

    #animated-header-text {
        display: none;
    }
}

/* Section handling */

section {
    margin: 0;
    padding: 0;
}

.page {
    height: 100%;
    overflow: hidden;
}

.page h2,
.page article {
    padding: 0 .5rem;
}

.page h2 {
    padding-top: .5rem;
}

.page article {
    padding-bottom: .5rem;
}

.appearing-content {
    opacity: 0;
}

.appearing-content-animation {
    animation: fadein-translate calc(var(--transition-speed)*4) ease-in-out;
}

@keyframes fadein-translate {
    0% {
        opacity: 0;
        transform: translate(0, 30%);
        pointer-events: none;
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
        pointer-events: all;
    }
}

#introduction .page-divider .shape-fill {
    fill: var(--divider1-color);
}

#introduction {
    color: var(--sect1-text-primary);
    background-color: var(--sect1-bg-primary);
}

#introduction-container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
    grid-template-areas: 
        "header header"
        "col1 col2";

    gap: 5rem;
    margin-bottom: 5rem;
    font-size: 1.4rem;
}

#introduction-container h2 {
    grid-area: header;
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
    font-size: 3rem;

}

#introduction-container .grid-item:nth-child(2) {
    grid-area: col1;
}

#introduction-container article p {
    margin-bottom: .5rem;
}

.page-divider svg {
    height: 143px;
    width: 100%;
}

#formation .page-divider .shape-fill {
    fill: var(--sect1-bg-primary);
}

#formation {
    color: var(--sect2-text-primary);
    background-color: var(--sect2-bg-primary);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

#knowledge {
    height: 100%;
    background-color: var(--sect3-bg-primary);
}

#knowledge article {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin: 0 auto;
}

#knowledge div {
    margin: .5rem;
}

#knowledge h3 {
    width: 100%;
    text-align: center;
}

#knowledge article ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
    width: 100%;
    justify-content: space-around;
}

#knowledge li {
    cursor: pointer;
    transition: transform calc(2*var(--transition-speed)) ease-in-out;
}

#knowledge li:hover {
    transform: scale(1.2);
}

#knowledge li img {
    height: 11vw;
    max-width: 11vw;

    margin: 0;
    padding: 0;
}

#hobbies {
    height: 100%;
    background-color: var(--sect4-bg-primary);
}

/* footer */
#main-footer {
    position: relative;
    bottom: 0;
    right: 0;
    height: 20vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: flex-end;

    margin: 0;
    background-color: var(--sect4-bg-primary);
}

.footer-divider {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    background-color: var(--sect4-bg-primary);
}

.footer-divider svg {
    width: 100vw;
}

.personal-infos {
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    align-items: center;

    background-color: var(--footer-bg);
}

.personal-infos p,
.personal-infos a,
.personal-infos svg {
    color: var(--footer-text);
    font-weight: 600;
}

#author {
    font-size: 1.2rem;
    font-weight: 800;
}

#github a {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-items: center;
}

#github svg {
    height: 32px;
    aspect-ratio: 1/1;
    display: flex;
    margin-right: .25rem;
}

#github p {
    display: flex;
}